.azuremlhistory_git
.ipynb_checkpoints
azureml-logs
*.dprep.user
.vscode/settings.json
images/
.vscode/settings.json
pieter3/
new_pieter/
.vscode/settings.json
outputs/
__pycache__/
.vscode/settings.json
testEncoding.py
quicktest.py
.vscode/settings.json
